.btn-group {
    float: right;
    margin-top: 20px;
}
i.fa {
    margin-right: 0.5em;
}
:host {
    display: block;
    overflow-y: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
}

button + button {
    margin-left: 30px;
}
