@import '/assets/css/flex.css';
@import '/assets/css/bootstrap.css';
@import '/assets/css/font-awesome.css';

:host {
    display: block;
}

button + button {
    margin-left: 30px;
}

.form-buttons {
    margin-top: 50px;
}
