<form (ngSubmit)="save()">
    <div class="row" *ngIf="displayField('term.type')">
        <enum-select2 class="col-sm-4"
                [label]="'Membership type'"
                [enumValues]="termTypeValues"
                [value]="member.term.type"
                (valueChange)="termTypeChanged($event)">
        </enum-select2>
    </div>

    <div class="row" *ngIf="displayField('name')">
        <name-input class="col-sm-12"
                    [name]="member.name"
                    (nameChange)="propChanged('name', $event)"
                    (validityChange)="propValidityChanged('name', $event)">
        </name-input>
    </div>

    <div class="row" *ngIf="displayField('gender') || displayField('dateOfBirth') || displayField('aboriginalOrTorresStraitIslander')">
        <enum-select2
                *ngIf="displayField('gender')"
                class="col-sm-4"
                [label]="'Gender'"
                [enumValues]="genderValues"
                [value]="member.gender"
                (valueChange)="propChanged('gender', $event)"></enum-select2>

        <date-input *ngIf="displayField('dateOfBirth')" class="col-sm-4"
                    [label]="'Date of Birth'"
                    [date]="member.dateOfBirth"
                    (dateChange)="propChanged('dateOfBirth', $event)"
                    (validityChange)="propValidityChanged('dateOfBirth', $event)"
                    [defaultToday]="false">
        </date-input>

        <yesno-select *ngIf="displayField('aboriginalOrTorresStraitIslander')"
                      class="col-sm-4"
                      [value]="member.aboriginalOrTorresStraitIslander"
                      (valueChange)="propChanged('aboriginalOrTorresStraitIslander', $event)"
                      [label]="'Aboriginal/Torres Strait Islander'"
                      [disabled]="disabled"></yesno-select>
    </div>

    <div class="row" *ngIf="!displayField('residentialStatus') && displayField('address')">
        <address-input class="col-sm-12"
                       [address]="member.address"
                       (addressChange)="propChanged('address', $event)"
                       [label]="'Address'"
                       [disabled]="disabled">
        </address-input>
    </div>

    <div class="row" *ngIf="displayField('contact')">
        <contact-input class="col-sm-12"
                       [contact]="member.contact"
                       (contactChange)="propChanged('contact', $event)"
                       [label]="'Contact'"
                       [disabled]="disabled">
        </contact-input>
    </div>

    <div class="row" *ngIf="displayField('income')">
        <income-input class="col-sm-12"
                      [income]="member.income"
                      (incomeChange)="propChanged('income', $event)"
                      [label]="'Income'"
                      [disabled]="disabled">
        </income-input>
    </div>

    <ul class="list-unstyled">
        <li *ngFor="let acctType of energyAccountTypeValues.keySeq().toArray()" class="row">
            <energy-account-input
                *ngIf="displayField('energyAccounts.' + acctType)"
                [label]=""
                [energyAccountType]="acctType"
                [energyAccount]="member.energyAccounts.get(acctType)"
                (energyAccountChange)="energyAccountChanged(acctType, $event)">
            </energy-account-input>
        </li>
    </ul>

    <div class="row" *ngIf="displayField('residentialStatus')">
        <residential-status-input
                class="col-sm-12"
                [residentialStatus]="member.residentialStatus"
                (residentialStatusChange)="propChanged('residentialStatus', $event)"
                [address]="member.address"
                (addressChange)="propChanged('address', $event)"
                [label]="'Residential Status'"
                [disabled]="disabled">
        </residential-status-input>
    </div>

    <div class="row" *ngIf="displayField('partner')">
        <partner-input2
                class="col-sm-12"
                [label]="'Partner'"
                [member]="member"
                [partner]="member.partner"
                (partnerChange)="propChanged('partner', $event)"
                (validityChange)="propValidityChanged('partner', $event)">
        </partner-input2>
    </div>

    <div class="row" *ngIf="displayField('dependents')">
        <dependent-list-input
                class="col-sm-12"
                [label]="'Dependents'"
                [carers]="_carers"
                [dependents]="member.dependents"
                (dependentsChange)="propChanged('dependents', $event)">
        </dependent-list-input>
    </div>


    <div class="row form-buttons layout horizontal center-justified">
        <button class="btn btn-primary"
                [disabled]="!isValid"
                (click)="save()">
            <i class="fa fa-save"></i> Save
        </button>
        <button class="btn btn-danger" (click)="cancel()">
            <i class="fa fa-close"></i> Cancel
        </button>
    </div>
</form>
