<div>
    <voucher-assessment-question [questionId]="'1'">
        <eapa-voucher-energy-accounts-select
            *ngIf="!disabled"
            [label]="'Bills sighted'"
            [value]="energyAccountTypes"
            (valueChange)="energyAccountTypesChanged($event)">
        </eapa-voucher-energy-accounts-select>

        <ul class="list-unstyled voucher-bills">
            <li *ngFor="let accountType of voucher.bills.keySeq().toArray()">
                <eapa-voucher-bill-input
                    [accountType]="accountType"
                    [member]="member"
                    [bill]="voucher.bills.get(accountType)"
                    (billChange)="voucherBillChanged(accountType, $event)"
                    [disabled]="disabled">
                </eapa-voucher-bill-input>
            </li>
        </ul>

        <div *ngIf="voucher.bills.isEmpty()" class="alert alert-danger">
            The assessment must apply to at least one bill.
        </div>
    </voucher-assessment-question>

    <voucher-assessment-question [questionId]="'2'">
        <p>The customer has demonstrated that they are experiencing financial hardship and <em>one of</em>:</p>
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       [ngModel]="voucher.isDenyingBasicNeeds"
                       (ngModelChange)="propChanged('isDenyingBasicNeeds', $event)"
                        [disabled]="disabled">
                are denying basic needs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       [ngModel]="voucher.isFacingDisconnection"
                       (ngModelChange)="propChanged('isFacingDisconnection', $event)"
                       [disabled]="disabled">
                may face disconnection
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       [ngModel]="voucher.isDisconnected"
                       (ngModelChange)="propChanged('isDisconnected', $event)"
                       [disabled]="disabled">
                have been disconnected
            </label>
        </div>

        <div *ngIf="!voucher.isFacingHardship"
             class="alert alert-danger">
            The client does not satisfy the basic eligibility requirements
            for EAPA assistance.
        </div>
    </voucher-assessment-question>

    <voucher-assessment-question [questionId]="'3'">
        <div class="checkbox">
            <label class="checkbox">
                <input type="checkbox"
                       [ngModel]="voucher.isGrantedLimitExemption"
                       (ngModelChange)="propChanged('isGrantedLimitExemption', $event)"
                       [disabled]="disabled">
                The client is being granted an extension to the Standard EAPA limits
            </label>
        </div>

        <div class="alert alert-info">
            An explicit exemption must be granted if the member:
            <ul>
                <li>is receiving over $250 on the current bill/s</li>
                <li>has received more than $500 over the current financial year; or</li>
                <li>has received assistance more than twice in the current financial year</li>
            </ul>
        </div>

        <div class="form-group" *ngIf="voucher.isGrantedLimitExemption">
            <label class="control-label" for="limit-exemption-description">Explain the reason for granting the exemption</label>
            <textarea *ngIf="!disabled" id="limit-exemption-description"
                      class="form-control"
                      [ngModel]="voucher.limitExemptionDescription"
                      (ngModelChange)="propChanged('limitExemptionDescription', $event)">
            </textarea>
            <div class="well" *ngIf="voucher.limitExemptionSubscription">
                <p><em>{{voucher.limitExemptionDescription}}</em></p>
            </div>
        </div>
        <!-- TODO: Require permission from USER-GROUP client assistance before approving voucher. -->
    </voucher-assessment-question>

    <voucher-assessment-question [questionId]="'4'">
        <div class="alert alert-info">
            <p><em>TODO: Update customer declaration form so that it includes:</em>
            <ul>
                <li>A statement that the customer consents to having information stored two years or more</li>
                <li>The EAPA privacy notice</li>
            </ul>

            This question should be replaced with an uploaded + signed user declaration form.
        </div>

        <div class="checkbox">
            <label>
            <input type="checkbox"
                   [ngModel]="voucher.isCustomerDeclarationSigned"
                   (ngModelChange)="propChanged('isCustomerDeclarationSigned', $event)"
                   [disabled]="disabled">
                Customer has completed and signed an
                <a href="/static/vouchers/eapa/customerDeclaration.html">EAPA customer declaration</a>
            </label>
        </div>
    </voucher-assessment-question>

    <voucher-assessment-question [questionId]="'6'">
        <div class="well">
            <h4>EAPA assessor declaration</h4>

            The following are required by the assessor to satisfy the requirements for a
            successful assessment:

            <ul>
                <li>The individual being assessed is not known to me in any personal capacity</li>
                <li>All bills are stamped with the EAPA stamp</li>
                <li>All vouchers have been filled out and stamped them with the organisation's stamp</li>
                <li>All attempts to contact the customer's retailer to check:
                    <ul>
                        <li>Assistance options available to the customer</li>
                        <li>Energy rebates to which the customer may be entitled</li>
                        <li>The updated balance on the customer's account</li>
                        <li>Details of any EAPA assistance that the customer has received
                            in the current financial year
                        </li>
                    </ul>
                </li>
                <li>
                    In the event that the customer's retailer could not be reached, an
                    updated balance for the customer's bill has been obtained from the
                    retailer's automated system.
                </li>
                <li>
                    Voucher processing and validity have been explained to the customer and
                    the assessor is satisfied that the customer has understood
                </li>
            </ul>

            <div class="checkbox">
                <label>
                <input type="checkbox" [ngModel]="voucher.isAssessorDeclarationSigned"
                    (ngModelChange)="propChanged('isAssessorDeclarationSigned', $event)"
                    [disabled]="disabled">
                I, <em>{{ staffMemberName | async | name }}</em> have satisfied all requirements
                for the assessment.
                </label>
            </div>
        </div>
    </voucher-assessment-question>
</div>


