<div class="row">
    <div class="form-group col-sm-12">
        <div [ngSwitch]="task.type">
            <voucher-input *ngSwitchCase="'ISSUE_VOUCHER'"
                           [member]="task.member"
                           [voucher]="task.voucher"
                           (voucherChange)="propChanged('voucher', $event)"
                           (memberChange)="propChanged('member', $event)"
                           (validityChange)="isValid = false"
                           [disabled]="disabled">
            </voucher-input>
            <referral-input *ngSwitchCase="'SERVICE_REFERRAL'"></referral-input>
            <div *ngSwitchDefault>
                No Task type selected
            </div>
        </div>
    </div>
</div>
